

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color: #FD6E0A;
}


.dark-2{
    color: #474747;
}

.btn-primary{
    padding: 18px 35px;
    background-color: #FD6E0A;
    font-weight: bold;
    color:#FFFFFF;
    border-radius: 5px;
    font-size: 20px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #000000;
}

.section-descrption{
    font-size: 18px;
    color: #757575;
}
.section-description-2{
    margin-bottom: 50px;
    font-style:initial;
    
}


.secondary-bg{
    background-color: #FFF8F3; 
}

.text-center{
    text-align: center;
}



/* NAV STYLES */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}

.nav-title{
    font-weight: 800;
    font-size: 40px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}
.banner-content{
    max-width: 600px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile{
    width: 584px;
}


/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 0px 0px 0px 23px;
}


/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
   
    text-align: center;
}


/* main styles */
.main-1{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}

/* skills scetion styles */
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


/* resume section styles */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color: #757575;
}
.experience-sub-title{
   color: #757575; 
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 20px;
}
.resume hr{
    margin: 30px;
    opacity: 0.7;
}
.resume-download-cv{
    margin-top: 50px;
}
